// colors 
$primary-color: #273c99;
$secondary-color: #a66bf1;
$tertiary-color: #adf55e;
$form-color: #e2e7fe;

// fonts 
$primary-font: "Playfair Display", serif;
$secondary-font: "Open Sans", sans-serif;

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600&display=swap');

$margin-center: 0 auto;



