.contact-section {
 display: flex;
  
 @media (max-width: 768px) {
  font-size: 1.2rem;
  display: block;
  height: 100vh;
}
  .contact-box1 {
    width: 50%;
    //    background-color: orange;
    @include centered-flex();

    @media (max-width: 768px) {
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    @media (max-width: 1024px) {
      width: 100%;
      display: block;
      margin: 0 auto;
    }

    .contact-info {
      width: 411px;
      margin-left: 30rem;
      margin-top: 10rem;

      @media (max-width: 768px) {
        width: 60%;
        margin: 0 auto;
        margin-top: 20rem;
      }

      @media (max-width: 1024px) {
        width: 90%;
        margin: 20rem auto;
        
      }

      h2 {
          color: $primary-color;
          @include h2-size();
      }

      ul {
          margin-top: 3rem;
          

          li {
              color: $secondary-color;
              font-family: $secondary-font;
              font-size: 2rem;
              font-weight: 600;
              line-height: 2;

              i {
                  padding-right: 1.6rem;
              }

              a {
                color: $secondary-color;
                font-family: $secondary-font;
              }
          }
      }
    }
  }

  .contact-box2 {
    width: 50%;

    @include centered-flex();

    form {
        // @include shadow-5();
        margin-top: 10rem;
        margin-right: 30rem;
      @include centered-flex();
      flex-direction: column;
      width: 411px;
      height: 467px;
      background-color: $form-color;
      border-radius: 10px;

      @media (max-width: 768px) {
        display: none;
        
      }

      @media (max-width: 1024px) {
        display: none;
      }

      .contact-place {
        margin-bottom: 1rem;
        margin-top: 2rem;
        line-height: 4;
        

        input {
            
          @include form-border();
          @include shadow-4();
          background-color: $form-color;
          height: 44px;
          text-align: center;
          color: $secondary-color;
          font-weight: 700;

          &:focus {
            @include form-focus();
            color: $primary-color;
            

          }
           
        }

        input::placeholder, textarea::placeholder {
            color: rgba(36, 44, 156, 0.233);
            font-weight: 700;
        }

        textarea {
          height: 150px;
          @include form-border();
          @include shadow-4();
          background-color: $form-color;
          margin-top: 1rem;
          stroke-linecap: unset;
          padding: 10px;
          font-family: $secondary-font;
          &:focus {
            @include form-focus();
          }

          &::placeholder {
          
          }
          
        }
      }

     

      .contact-btn {
        .button {
          @include form-border();
          @include shadow-6();
            color: white;
          background: rgb(222, 113, 255);
          background: linear-gradient(
            90deg,
            rgba(222, 113, 255, 1) 0%,
            rgba(173, 131, 248, 1) 100%
          );
          height: 44px;
          padding: 10px 10rem;

          &:hover {
            cursor: pointer;
          }

          &:focus {
            outline: none;
            
          }
        }
        a {
          text-decoration: none;
        }
      }
    }
  }
}
